<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/my_reset.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
      integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9e151304e81a55d57cdc632da3a5b387"
    ></script>
    <script src="/js/click.js" defer></script>
    <script src="/js/key.js" defer></script>
    <script src="/js/map.js" defer></script>
    <link rel="stylesheet" href="/css/header_footer_sub.css" />
    <link rel="stylesheet" href="/css/list.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <title>goodrestaurant</title>
  </head>
  <body>
    <%- include('header_sub.ejs') %>
    <section class="banner1 mw1150">
      <p>
        <span>당신의 입맛에 맞는 맛집은 어디인가요?</span>
      </p>
    </section>
    <section class="banner2 mw1150">
      <span>맛집 소개</span>
    </section>
    <section class="detailContents">
      <div class="detailContentsWrap">
        <article class="detailCon1">
          <img src="<%= data.postImg%>" class="detailImg" alt="식당 이미지" />
          <div class="detailText">
            <p
              class="detailGood"
              data-good="<%= data.postGood%>"
              data-id="<%= data._id%>"
            >
              <img src="/img/heart-solid.svg" alt="" /><span
                ><%= data.postGood%></span
              >
            </p>
            <p class="detailName"><span><%= data.postName%></span></p>
            <p class="detailStar">
              <img src="/img/star-solid.svg" alt="" /><span
                ><%= data.postStar%></span
              >
            </p>
            <p class="detailAdress">
              <img src="/img/location-dot-solid.svg" alt="" /><span
                ><%= data.postAdress%></span
              >
            </p>
            <p class="detailTime">
              <img src="/img/clock-solid.svg" alt="" /><span
                ><%= data.postTime%></span
              >
            </p>
            <p class="detailTel">
              <img src="/img/house-solid.svg" alt="" /><span
                ><%= data.postTel%></span
              >
            </p>
          </div>
        </article>
        <article class="detailCon2">
          <div class="KakaoMap">
            <div id="map"></div>
          </div>
          <div class="detailText2">
            <p class="detailDetail"><span><%= data.postDetail%></span></p>
            <a class="edit" href="/edit/<%= data._id %>">수정</a>
            <button class="delete" data-id="<%= data._id%>">삭제</button>
          </div>
        </article>
      </div>
    </section>
    <div class="deleteModalCon">
      <div class="deleteModal">
        <p><span>정말로 삭제 하시겠습니까?</span></p>
        <button class="cancel">뒤로가기</button>
        <button class="deleteOk" data-id=" <%= data._id%>">삭제</button>
      </div>
    </div>
    <%- include('footer.ejs') %>
    <script>
      window.addEventListener("resize", function () {
        if (window.innerWidth > 500) {
          setTimeout(function () {
            location.reload();
          }, 3000);
        }
      });

      var container = document.getElementById("map");

      var coords = "<%= data.postAcoords%>".split(","); // 쉼표로 구분된 문자열을 배열로 변환
      var options = {
        center: new kakao.maps.LatLng(
          parseFloat(coords[0]),
          parseFloat(coords[1])
        ),
        level: 3,
      };

      var map = new kakao.maps.Map(container, options);
      // 마커가 표시될 위치입니다
      var markerPosition = new kakao.maps.LatLng(
        parseFloat(coords[0]),
        parseFloat(coords[1])
      );

      // 마커를 생성합니다
      var marker = new kakao.maps.Marker({
        position: markerPosition,
      });

      // 마커가 지도 위에 표시되도록 설정합니다
      marker.setMap(map);
    </script>
  </body>
</html>
