<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/my_reset.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
      integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/click.js" defer></script>
    <script src="/js/key.js" defer></script>
    <script src="/js/input.js" defer></script>
    <link rel="stylesheet" href="/css/header_footer.css" />
    <link rel="stylesheet" href="/css/write.css" />
    <title>goodrestaurant-edit</title>
  </head>
  <body>
    <%- include('header_sub.ejs') %>
    <section class="banner1 mw1150">
      <p>
        <span>당신의 입맛에 맞는 맛집을 추천해주세요!</span>
      </p>
    </section>
    <section class="banner2 mw1150">
      <span>수정하기</span>
    </section>
    <form action="/edit?_method=put" method="post" class="form mw1150">
      <input type="text" name="id" value="<%= post._id %>" hidden />
      <ul class="formCon">
        <li class="formList">
          <p class="food">
            <label for="food-select"></label>
            <select id="food-select" name="food">
              <option value="">분류</option>
              <option value="전체" <%= post.postFood == '전체' ? 'selected' : '' %>>전체</option>
              <option value="한식" <%= post.postFood == '한식' ? 'selected' : '' %>>한식</option>
              <option value="중식" <%= post.postFood == '중식' ? 'selected' : '' %>>중식</option>
              <option value="일식" <%= post.postFood == '일식' ? 'selected' : '' %>>일식</option>
              <option value="양식" <%= post.postFood == '양식' ? 'selected' : '' %>>양식</option>
              <option value="기타" <%= post.postFood == '기타' ? 'selected' : '' %>>기타</option>
            </select>
            
          </p>
          <p class="name">
            <label
              >음식점 이름<input
                type="text"
                id="name"
                name="name"
                value="<%= post.postName%>"
            /></label>
          </p>
          <p class="star">
            <label
              >별점<input
                type="text"
                id="star"
                name="star"
                value="<%= post.postStar%>" /></label
            ><span class="starStandard">/ 5</span>
          </p>
          <p class="key">
            <label
              >키워드1<input
                type="text"
                id="key1"
                name="key1"
                value="<%= post.postKey1%>"
            /></label>
          </p>
          <p class="key">
            <label
              >2<input
                type="text"
                id="key2"
                name="key2"
                value="<%= post.postKey2%>"
            /></label>
          </p>
          <p class="key">
            <label
              >3<input
                type="text"
                id="key3"
                name="key3"
                value="<%= post.postKey3%>"
            /></label>
          </p>
          <p class="key">
            <label
              >4<input
                type="text"
                id="key4"
                name="key4"
                value="<%= post.postKey4%>"
            /></label>
          </p>
          <p class="adress">
            <label
              >주소<input
                type="text"
                id="adress"
                name="adress"
                value="<%= post.postAdress%>"
            /></label>
          </p>
          <p class="acoords">
            <label
              >좌표<span>,를 기준으로 앞뒤로 값을 넣어주세요!</span
              ><input
                type="text"
                id="acoords"
                name="acoords"
                value="<%= post.postAcoords%>"
            /></label>
          </p>
          <a href="/acoords" class="acoordsSearh"> 좌표구하기</a>
          <p class="img">
            <label
              >이미지<span>(URL)</span>
              <input type="text" id="img" name="img" value="<%= post.postImg%>"
            /></label>
          </p>
          <p class="time">
            <label
              >영업시간<input
                type="text"
                id="time"
                name="time"
                value="<%= post.postTime%>"
            /></label>
          </p>
          <p class="tel">
            <label
              >전화번호<input
                type="text"
                id="tel"
                name="tel"
                value="<%= post.postTel%>"
            /></label>
          </p>
          <p class="detail">
            <label
              >설명<input
                type="text"
                id="detail"
                name="detail"
                value="<%= post.postDetail%>"
            /></label>
          </p>
          <p class="good" hidden>
            <label
              >좋아요<input
                type="number"
                id="good"
                name="good"
                value="<%= post.postGood%>"
            /></label>
          </p>
          <input type="submit" id="submitBtn" value="수정" />
        </li>
      </ul>
    </form>
  </body>
</html>
